/* navbar styles */

.logo-img{
  display: flex;
 justify-content: space-between;
 max-width: 1140px;
 margin: 0 auto;
}
.logo-img ul li{
  list-style: none;
 text-align: center;
 margin-right: 30px;

}
 
nav ul{
  display: flex;

}
 
nav ul li a{
  text-decoration: none;
  

}
.first{
  color: #252432;
}
.second{
  color: #8987A1;
}
.third{
  color: #000000;
}
.header-sec{
  display: flex;
  align-items: center;
  margin-left: 400px;
   
}
.header-description{
  margin-bottom: 0px;
   
}
.header-title{
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
.color{
  color: #E95A08;
}
.all-paragraph{
font-size: 1.35rem;
color: rgba(0, 0, 0, 0.5);
}


/* Our-Plants section styles */
.plants-description{
  text-align: center;
 
  
}
 .plants-title{
  font-size: 50px;
  margin-bottom: 16px;
 }     
.flower-container{
   max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 150px;
  margin: 0 auto;
 
 
   
}
.flower-details{
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.flower-name{
  color: #111111;
  font-weight: 500;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
} 
.flower-price{
  color: #111111;
  font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn-primary{
  color: white;
  font-weight: 600;
  padding: 19px 81px;
  background-color: #E95A08;
  border: none;
  width: 270px;
}

/* plants lover section styles */
.flower-lovers{
  display: flex;
  align-items: center;
  max-width: 1140px;
margin: 150px auto;
  
}
.plant-lover-title{
  font-size: 50px;
  font-weight: bold;
}
.plant-description{
  
  width: 600px;
 
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin{
  margin: 20px;
}
  
/* Latests Deals styles */
.deals-sec{
  max-width: 1140px;
}
.deals-para{
  text-align: center;
}
.deals-title{
  font-size: 50px;
  font-weight: bold;
  
}
  .gfg {
            position: relative;
            width: 100%;
            text-align: center;
        }

        .text-container {
            position: absolute;
            color: rgb(255, 255, 255);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
           
            padding: 0.5rem;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

      .container {
            position: absolute;
            color: rgb(255, 255, 255);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
           
            padding: 0.5rem;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
        }


.image-container{
  display: flex;
  margin-left: 200px;
}
.button{
  color: white;
  font-size: 16px;
}
.button-1{
  color: white;
  font-size: 26px;
}


/* styles backround image */
.back-image{
  background-image: url(assets/news-letter-bg.png);
  width: 100%;
 
  background-position: center;
  background-size: cover;
  height: 550px;
  background-repeat: no-repeat;
 
 
}
 
.img-paragraph{
 text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
 
 
}
input{
  width: 645px;
  height: 50px;
  font-size: 16px;
  gap: 0px;
}

/* footer section styles */
.footer-sec{
  display: flex;
  max-width: 1140px;
  margin: 50px auto;
}
.footer-sec ul li{
  list-style: none;
  margin-top: 30px;
}
.footer-sec ul li a{
  text-decoration: none;
  color: #6B7280;
  font-size: 18px;
}
.navbar-1{
  margin-left: 70px;
}
.navbar-2{
  margin-left: 70px;
}
.navbar-img{
  margin-left: 100px;
}
.navbar-img img{
   margin-left: 20px;
}



/* small device responsive styles */
@media screen and (max-width: 430px) {
  .header-sec{
    flex-direction: column-reverse;
    margin-left: 16px;
  }
.header-img{
  width: 100%;
}

.flower-container{
  grid-template-columns: repeat(2, 1fr);
 margin-right: 30px;
 margin-left: 30px;
  gap: 20px;
}
 .flower-details{
  height: 340px;
 }
.flower-details img{
  width: 170px;
   
}
.btn-primary{
  width: 170px;
  padding: 19px 30px;
}
 
                     
 
.back-image{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
input{
  width: 212px;
}
.footer-sec{
 flex-direction: column;
}

.navbar-1,
.navbar-2,
.navbar-img{
  margin-left: 2px;
}




}