/* navbar styles */

.logo-img{
  display: flex;
  justify-content: space-between;
}
nav ul{
  display: flex;

}
 
nav ul li a{
  text-decoration: none;

}
.header-sec{
  display: flex;
  align-items: center;
  margin-left: 400px;
   
}
.header-description{
  margin-bottom: 0px;
   
}
.header-title{
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
.color{
  color: #E95A08;
}
.header-paragraph{
font-size: 1.35rem;
color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
  .header-sec{
    flex-direction: column-reverse;
    margin-left: 16px;
  }
}