/* navbar styles */
.hide{
  display: none;
}
.logo-img{
  display: flex;
 justify-content: space-between;
 max-width: 1140px;
 margin: 0 auto;
}
.logo-img ul li{
  list-style: none;
 text-align: center;
 margin-right: 50px;

}
 
nav ul{
  display: flex;

}
 
nav ul li a{
  text-decoration: none;
  

}
 
.first{
  color: #252432;
}
.second{
  color: #8987A1;
}
.third{
  color: #000000;
}
.header-sec{
  display: flex;
  align-items: center;
  margin-left: 400px;
   
}
.header-img{
  width: 100%;
}
.header-description{
  margin-bottom: 0px;
   
}
.header-title{
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
.color{
  color: #E95A08;
}
.all-paragraph{
font-size: 1.35rem;
color: rgba(0, 0, 0, 0.5);
}


/* Our-Plants section styles */
.plants-description{
  text-align: center;
 
  
}
 .plants-title{
  font-size: 50px;
  margin-bottom: 16px;
 }     
.flower-container{
   max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 150px;
  margin: 0 auto;   
}
.flower-details{
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.flower-name{
  color: #111111;
  font-weight: 500;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
} 
.flower-price{
  color: #111111;
  font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn-primary{
  color: white;
  font-weight: 600;
  padding: 19px 81px;
  background-color: #E95A08;
  border: none;
  width: 270px;
}

/* plants lover section styles */
.flower-lovers{
  display: flex;
  align-items: center;
  max-width: 1140px;
margin: 150px auto;
  
}
.badge-div{
position: relative;

}
 
 #badge{
  position: absolute;
  width: 286px;
  height: 286px;
   margin-top: -140px;
   margin-left: 360px;
   
 }

.plant-lover-title{
  font-size: 50px;
  font-weight: bold;
}
.plant-description{
  
  width: 540px;
 
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin{
  margin: 20px;
}
  
/* Latests Deals styles */
.deals-sec{
  max-width: 1140px;
  margin: 50px auto;
}
.deals-para{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.deals-title{
  font-size: 50px;
  font-weight: bold;
  
}
.container {
    display: flex;
    gap: 20px;  
    padding: 20px;
}

.promotion-left {
    display: flex;
    flex-direction: column;
     gap: 20px; 
}

.promotion-right {
    flex-grow: 1; 
}

.card {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;  
}

.bloom-plant {
 background-image: url('./assets/deal-bloom.png'); 
    width: 400px;
    height: 250px;
}

.ana-plant {
    background-image: url('./assets/deal-ana.png'); 
    width: 400px;
    height: 250px;
}

.zabo-plant {
    background-image: url('./assets/deal-zabo.png');
    width: 800px; 
    height: 520px;  
}

.overlay-text {
   
    padding: 20px;
    border-radius: 8px;
}

.overlay-text p {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.overlay-text-1 p {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
}

.shop-button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
}

.shop-button:hover {
    background-color: #ffc107;
}

/* styles backround image */
.colorful-bunch-section {
    position: relative;
    width: 100%;
    height: 533px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/news-letter-bg.png');  
    background-size: cover;
    background-position: center;
    z-index: -1; 
}
 

.colorful-bunch-section h1 {
    font-size: 3em;  
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    
}

.subscribe-form input[type="email"] {
    padding: 15px 15px;
    border: none;
    width: 644px; 
   
    font-size: 1em;
}

.subscribe-form button {
    background-color: #E95A08;  
    color: white;
    padding: 10px 20px;
    border: none;
     
    cursor: pointer;
    font-size: 1em;
    
}

.subscribe-form button:hover {
    background-color: rgb(30, 0, 255);  
}

/* footer section styles */
.footer-sec{
  display: flex;
  max-width: 1140px;
  margin: 50px auto;
}
.footer-sec ul li{
  list-style: none;
  margin-top: 30px;
}
.footer-sec ul li a{
  text-decoration: none;
  color: #6B7280;
  font-size: 18px;
}
.navbar-1{
  margin-left: 70px;
}
.navbar-2{
  margin-left: 70px;
}
.navbar-img{
  margin-left: 100px;
}
.navbar-img img{
   margin-left: 20px;
}



/* small device responsive styles */
@media screen and (max-width: 576px) {
 /* responsive header section */
 header{
  max-width: 425px;
  margin-left: 0px;
 }
 .header-title{
  margin-left: 0px;
 }
 body{
 max-width: 425px;
 }
  .header-sec{
    flex-direction: column-reverse;
   margin-left: 0px;
   
  }
  .logo-img{
    max-width: 400px;
  }
  .logo-img ul li{
    margin-right: 10px;
  }
.header-img{
  margin-left: 0px;
}
.hero-flower-div{

  margin-left: 0px;
}
.hero-flower-img{
   max-width: 425px;
   
  margin-left: 0px;
  
}
.header-title{
  font-size: 1.5rem;
}
.all-paragraph{
  font-size: 14px;
}
.first,
.second{
  display: none;
}
 

/* responsive our plants section */

.plants-title{
  font-size: 24px;
}



.flower-container{
 max-width: 420px;
  grid-template-columns: repeat(2, 1fr);
 margin-left: 10px;
  
}
 

.flower-name{
  margin-bottom: 0px;
}
 .flower-details{
   width: 210px;
 
  margin-left: 0px;
   
 }
 .details-sec-img{
  width: 200px;
 }

.btn-primary{
  width: 170px;
  padding: 19px 30px;
}


 /* responsive flower lover section */
 .plant-description{
  
  width: 425px;
 margin-left: 5px;
 }
.flowershop-image{
  max-width: 425px;
}
 .margin{
  margin: 0px;
} 
 .flower-lovers{
  flex-direction: column;
 }
 .flower-lovers{
 margin: 100px auto;

}
.plant-lover-title{
  margin-left: 0px;
}
 #badge{
  display: none;
 }                    
 .badge-div{
  width: 100%;
 }


 /* responsive latest deals section */
.container{
  flex-direction: column;
}
/*.promotion-left{
  flex-direction: column;
}*/

.card{
  flex-direction: column;
}

.bloom-plant,
.ana-plant,
.zabo-plant{
  width: 361px;
}


/* responsive background image section */
.colorful-bunch-section
 {
  flex-direction: column;
}
 .subscribe-form input[type="email"]{
  width: 218px;
 }
 
/* responsive footer section */
.footer-sec{
 flex-direction: column;
}

 .navbar-1,
 .navbar-2,
 .navbar-img{
  margin-left: 0px;
 }
.navbar-img{
  margin-top: 5px;
}
  
}